
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// vue-snotify
@import "~vue-snotify/styles/material";

// Vodal
@import "~vodal/common.css";
@import "~vodal/rotate.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.has-error p{color: red;}
.has-error input{border: 1px solid red;}
